/*  your css code here. If applicable */
body{
	margin: 0;
	height: 100vh;
	position: relative;
}
#line {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 2px;
  background-color: #000000;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
}